@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}


.contenedor-formulario {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.form-login {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}



.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}


.btn {
  width: 150px;
  background: linear-gradient(60deg, #30ddb8 30%, #6c63ff 75%);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background: linear-gradient(60deg, #6c63ff 30%, #30ddb8 75%);
}




.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}



@media (max-width: 870px) {
  
  .form-login {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 0.5s 0.4s ease-in-out;
  }

  .form-login {
    left: 50%;
  }


  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .form-login {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: 0.5s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }

}
